    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  
  <!-- Suporte -->
  <ion-content scroll-y="false" class="cadastro ion-padding">

    <!--Nome que vai ficar em cima da aba-->
    <ion-title class="app">Suporte</ion-title>

      <!-- Escolha Termos de serviço -->
        <ion-item>
            <ion-button expand="block">Termos de serviço</ion-button> 
        </ion-item>  
       <!-- Escolha Politica de privacidade -->
        <ion-item>
            <ion-button expand="block">Política de privacidade</ion-button>
        </ion-item>
    <!-- Escolha Ajuda -->
        <ion-item>
            <ion-button expand="block">Ajuda</ion-button>
        </ion-item>
    <!-- Escolha Feedback -->
        <ion-item>
            <ion-button expand="block">Feedback</ion-button>
        </ion-item>


  <div class="logo">
    <!--logo do app-->
    <img src="assets/Logo.png" class="logo-img">
  </div>
