  <title>App PsyTech</title>
  
  <!-- cadastro -->
  <ion-content scroll-y="false" class="cadastro ion-padding">
    
  <div class="logo">
    <img src="assets/Logo.png" class="logo-img">
    <ion-title class="app">PSYTECH</ion-title>
  </div>

  <!--informações importantes-->
  
  <!--botao de por o nome:-->
    <ion-item class="informacoes" fill="outline">
    <ion-input label="Nome" labelPlacement="floating" placeholder="Digite aqui" clear-input="true"></ion-input>
  </ion-item>

  <!--botao de por o email:-->
  <ion-item class="informacoes" fill="outline">
    <ion-input label="E-mail" labelPlacement="floating" placeholder="Digite aqui" type="email"
     clear-input="true"></ion-input>
  </ion-item>

 <!--botao de por a senha:-->
  <ion-item class="informacoes" fill="outline">
    <ion-input label="Senha" labelPlacement="floating" placeholder="Digite aqui" type="password">
    <ion-input-password-toggle class="olho" slot="end"></ion-input-password-toggle><!--olinho da senha-->
    </ion-input>
  </ion-item>


  <!--botao de entrar na proxima pag:-->
  <ion-button class="botao" expand="block">Entrar</ion-button>
</ion-content>
