  <title>App PsyTech</title>
  
  <!-- cadastro -->

  <ion-content scroll-y="false" class="cadastro ion-padding">

  <!-- ondas de cima -->

  <div class="onda-topo">
    <svg viewBox="0 0 1440 320" preserveAspectRatio="none">
      <path fill="#86bac7" d="M0,224L48,213.3C96,203,192,181,288,192C384,203,480,245,576,245C672,245,768,203,864,181.3C960,160,1056,160,1152,176C1248,192,1344,224,1392,240L1440,256L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path>
    </svg>
  </div>

    
  <div class="logo">
    <img src="assets/Logo.png" class="logo-img">
    <ion-title class="app">PSYTECH</ion-title>
  </div>

  <!-- informações importantes -->
  
  <!-- botao de por o nome: -->

    <ion-item class="informacoes" fill="outline">
    <ion-input label="Nome" labelPlacement="floating" placeholder="Digite aqui" clear-input="true"></ion-input>
  </ion-item>

  <!-- botao de por o email: -->

  <ion-item class="informacoes" fill="none">
    <ion-input label="E-mail" labelPlacement="floating" placeholder="Digite aqui" type="email"
     clear-input="true"></ion-input>
  </ion-item>

 <!-- botao de por a senha: -->

  <ion-item class="informacoes" fill="outline">
    <ion-input label="Senha" labelPlacement="floating" placeholder="Digite aqui" type="password">
    </ion-input>
  </ion-item>


  <!-- botao de entrar na proxima pag: -->

  <ion-button class="botao" expand="block" routerLink="/login">Cadastrar</ion-button>
</ion-content>


 <!-- Ir para outra página --> 

<p class="link_login" routerLink="/login" style="cursor: pointer;">
  Entrar em conta existente
</p>

<!-- ondas de baixo -->

<div class="onda-fundo">
  <svg viewBox="0 0 1440 320" preserveAspectRatio="none">
    <path fill="#86bac7" d="M0,224L48,213.3C96,203,192,181,288,192C384,203,480,245,576,245C672,245,768,203,864,181.3C960,160,1056,160,1152,176C1248,192,1344,224,1392,240L1440,256L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path>
  </svg>
</div>
